body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
body{
    font-family: 'Scto';
    background-color: #252422;
    color: #f9cdcd;
    overflow-x: hidden;
}
h1{
    font-size: 5.5em;    
}
h3{
    font-size: 2em;
}


main{
    margin: 0 5%;
}
#hero{
    margin: 15vh auto 40vh;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 25vh 25vh;
}
#hero div:nth-of-type(1){
    justify-self: end;
    vertical-align: middle;
    transform: translateY(25%);
}
#hero h3{
    margin-bottom: 20px;
}
#hero p{
    line-height: 30px;
}
#hero div:nth-of-type(2){
    padding-right: 30px;
}
#hero div:last-of-type{
    width: 50%;
}



#cards{
    margin-bottom: 10vh;
}
hr{
    margin-bottom: 20px;
}
.cards{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    padding-bottom: 5vh;
}
.cards > img{
    width: 100%;
}
.cards h6{
    font-size: 2.6em;
    font-weight: normal;
}
.cards p span{
    padding-left: 50px;
}
.cards > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.cards >div:last-of-type{
    display: flex;
    align-items: flex-end;  
}
.cards div img{
    width: 20%;
}